---
version: '3'
services:

  ${CONTECO_DC_GLOBAL_SERVICE_NAME}:
    image: ${CONTECO_REGISTRY}${CONTECO_REALM}/${CONTECO_ECOSYSTEM}.${CONTECO_DC_GLOBAL_IMAGE_NAME}
    environment: [${CONTECO_DC_GLOBAL_ENVIRONMENT}] 
    command: [${CONTECO_DC_GRAFANA_COMMAND}]
    volumes: [${CONTECO_DC_GRAFANA_VOLUMES}]
    ports: [${CONTECO_DC_GRAFANA_PORTS}]
    networks: [${CONTECO_DC_GRAFANA_NETWORKS}]
    deploy: {${CONTECO_DC_GRAFANA_DEPLOY}}

networks:
  ${CONTECO_DC_GRAFANA_NETWORKS}:
    external: true

