---
version: '3'
services:

# START SERVICE grafana.base
  grafana:
    image: ${CONTECO_REGISTRY}${CONTECO_REALM_RUNTIME}/conteco.grafana.base:6.3.5
    environment: ['GF_LOG_FORMAT=json', 'GF_LOG_FILE_FORMAT=json', 'GF_LOG_CONSOLE_FORMAT=json', 'GF_LOG_SYSLOG_FORMAT=json', 'GF_LOG_LEVEL=warn', 'GF_SERVER_ROOT_URL=/${CONTECO_URLPREFIX}/grafana']
    command: []
    volumes: ['${CONTECO_STACKPREFIX}_grafana_volume:/var/lib/grafana']
    ports: []
    networks: [${CONTECO_NETWORKLOCAL}_overlay]
    deploy:
      mode: replicated
      ${CONTECO_DC_GRAFANA_DEPLOY_MODE_REPLICATED_REPLICAS}
      resources:
        limits:
          cpus: '${CONTECO_DC_GRAFANA_DEPLOY_RESOURCES_LIMITS_CPUS}'
          memory: '${CONTECO_DC_GRAFANA_DEPLOY_RESOURCES_LIMITS_MEMORY}'
        reservations:
          cpus: '${CONTECO_DC_GRAFANA_DEPLOY_RESOURCES_RESERVATIONS_CPUS}'
          memory: '${CONTECO_DC_GRAFANA_DEPLOY_RESOURCES_RESERVATIONS_MEMORY}'
      placement:
        constraints: [${CONTECO_DC_GRAFANA_DEPLOY_PLACEMENT_CONSTRAINTS}]
      labels: [${CONTECO_DC_GRAFANA_DEPLOY_LABELS}]
    labels: [${CONTECO_DC_GRAFANA_LABELS}]
# END SERVICE grafana.base

volumes: {${CONTECO_STACKPREFIX}_grafana_volume: { external: true }}
networks: {${CONTECO_NETWORKLOCAL}_overlay: { external: true }}
